.elementor-65 .elementor-element.elementor-element-a19cbe3 > .elementor-container {max-width: 1400px;min-height: 80px;}
.elementor-65 .elementor-element.elementor-element-a19cbe3 {background-color: rgba(12,12,12,0);transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 0px;margin-bottom: 0px;padding: 0px 80px 0px 80px;z-index: 2;}
.elementor-65 .elementor-element.elementor-element-a19cbe3 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-65 .elementor-element.elementor-element-abda028 {text-align: left;}
.elementor-65 .elementor-element.elementor-element-abda028 .elementor-image img {width: 182px;}
.elementor-65 .elementor-element.elementor-element-abda028 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-65 .elementor-element.elementor-element-56fe28df > .elementor-element-populated {padding: 6px 0px 0px 0px;}
.elementor-65 .elementor-element.elementor-element-b542a21 {margin-top: -8px;margin-bottom: -8px;padding: 18px 0px 0px 0px;}
.elementor-65 .elementor-element.elementor-element-f176091 .elementor-text-editor {text-align: left;}
.elementor-65 .elementor-element.elementor-element-f176091 {color: #fff;font-family: "Helvetica",Sans-serif;font-size: 14px;font-weight: 300;line-height: 1.3em;letter-spacing: .5px;}
.elementor-65 .elementor-element.elementor-element-f176091 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-65 .elementor-element.elementor-element-ac250b0 .elementor-text-editor {text-align: left;}
.elementor-65 .elementor-element.elementor-element-ac250b0 {color: #fff;font-family: "Helvetica",Sans-serif;font-size: 14px;font-weight: 300;line-height: 1.3em;letter-spacing: .5px;}
.elementor-65 .elementor-element.elementor-element-ac250b0 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-65 .elementor-element.elementor-element-7a4060b .elementor-text-editor {text-align: left;}
.elementor-65 .elementor-element.elementor-element-7a4060b {color: #fff;font-family: "Helvetica",Sans-serif;font-size: 14px;font-weight: 300;line-height: 1.3em;letter-spacing: .5px;}
.elementor-65 .elementor-element.elementor-element-7a4060b > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-65 .elementor-element.elementor-element-fc41c48 .elementor-text-editor {text-align: left;}
.elementor-65 .elementor-element.elementor-element-fc41c48 {color: #fff;font-family: "Helvetica",Sans-serif;font-size: 14px;font-weight: 300;line-height: 1.3em;letter-spacing: .5px;}
.elementor-65 .elementor-element.elementor-element-fc41c48 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
.elementor-65 .elementor-element.elementor-element-1c089569.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-65 .elementor-element.elementor-element-1c089569 > .elementor-element-populated {margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
.elementor-65 .elementor-element.elementor-element-8b2a99a .elementor-text-editor {text-align: right;}
.elementor-65 .elementor-element.elementor-element-8b2a99a {color: #fff;font-family: "Helvetica",Sans-serif;font-size: 11px;font-weight: 300;line-height: 1.3em;letter-spacing: .5px;}
.elementor-65 .elementor-element.elementor-element-8b2a99a > .elementor-widget-container {padding: 0px 0px 0px 0px;}
@media (max-width:767px) {.elementor-65 .elementor-element.elementor-element-a19cbe3 {padding: 0px 0px 0px 0px;}
	.elementor-65 .elementor-element.elementor-element-c69f9ff {width: 100%;}
	.elementor-65 .elementor-element.elementor-element-abda028 {text-align: center;}
	.elementor-65 .elementor-element.elementor-element-56fe28df {width: 20%;}
	.elementor-65 .elementor-element.elementor-element-b542a21 {padding: 0px 0px 0px 0px;}
	.elementor-65 .elementor-element.elementor-element-1c089569 {width: 50%;}}
@media (min-width:768px) {.elementor-65 .elementor-element.elementor-element-c69f9ff {width: 19.08%;}
	.elementor-65 .elementor-element.elementor-element-56fe28df {width: 47.143%;}
	.elementor-65 .elementor-element.elementor-element-ff64338 {width: 23.795%;}
	.elementor-65 .elementor-element.elementor-element-86574db {width: 25.35%;}
	.elementor-65 .elementor-element.elementor-element-94d40e6 {width: 21.617%;}
	.elementor-65 .elementor-element.elementor-element-f08a218 {width: 29.246%;}
	.elementor-65 .elementor-element.elementor-element-1c089569 {width: 33.776%;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-65 .elementor-element.elementor-element-56fe28df {width: 35%;}
	.elementor-65 .elementor-element.elementor-element-1c089569 {width: 30%;}}
.elementor-65 .elementor-element.elementor-element-f176091 strong {font-size: 16px;}
.elementor-65 .elementor-element.elementor-element-f176091 a {color: white;transition: .5s;}
.elementor-65 .elementor-element.elementor-element-f176091 a:hover {opacity: .5;}
.elementor-65 .elementor-element.elementor-element-ac250b0 strong {font-size: 16px;}
.elementor-65 .elementor-element.elementor-element-ac250b0 a {color: white;transition: .5s;}
.elementor-65 .elementor-element.elementor-element-ac250b0 a:hover {opacity: .5;}
.elementor-65 .elementor-element.elementor-element-7a4060b strong {font-size: 16px;}
.elementor-65 .elementor-element.elementor-element-7a4060b a {color: white;transition: .5s;}
.elementor-65 .elementor-element.elementor-element-7a4060b a:hover {opacity: .5;}
.elementor-65 .elementor-element.elementor-element-fc41c48 strong {font-size: 16px;}
.elementor-65 .elementor-element.elementor-element-fc41c48 a {color: white;transition: .5s;}
.elementor-65 .elementor-element.elementor-element-fc41c48 a:hover {opacity: .5;}
.elementor-65 .elementor-element.elementor-element-8b2a99a strong {font-size: 16px;}
.elementor-65 .elementor-element.elementor-element-8b2a99a a:nth-child(2) {color: #fff;transition: .5s;}
.elementor-65 .elementor-element.elementor-element-8b2a99a a:hover:nth-child(2) {opacity: .5;}
.elementor-65 .elementor-element.elementor-element-8b2a99a a:nth-child(1) {color: #fff;transition: .5s;}
.elementor-65 .elementor-element.elementor-element-8b2a99a a:hover:nth-child(1) {opacity: .5;}